@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins:ital,wght@0,400;1,300&display=swap');


.container{
    background-color: #FC7300;
    font-family: 'Poppins', sans-serif;
    color: #181823;
}

.btn-primary {
    background-color:#1f8a70;
}



    